*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-content: center;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: auto;
  width: 600px;
  margin-top: 5rem;
}

.field {
  width: 4rem;
  height: 4rem;
  border: 1px solid #e9e9e9;
  position: relative;
}

.field::before {
  content: attr(data-fieldId);
  position: absolute;
  top: 5%;
  left: 10%;
}
.test {
  width: 3rem;
  height: 3rem;
  background-color: bisque;
  margin-top: 3rem;
}

.snake {
  background-color: bisque;
}
